{{ define "main" }}
  {{ .Content }}

<div class=welcome>
  <h1>Welcome</h1>
  <p>
    to the homepage of the <strong>Programming, Logic and
      Semantics</strong> group at
    ITU. The <a href="https://pure.itu.dk/en/organisations/programming-logic-and-semantics">PLS</a>
    group is part of the
    <a href="https://www.itu.dk/Forskning/Sektioner-paa-ITU/Theoretical-Computer-Science">Theoretical
      Computer Science</a> section
    at <a href="https://www.itu.dk/">ITU</a>.
  </p>
</div>

<div class=whiteboard></div>
<div class=about>
  <h2>About</h2>

  <p>The PLS Group conducts research in the theory of programming
    languages and logic. The aim of this research is to provide the tools
    allowing for future software to be safe, reliable and trustworthy, and
    the competences of the group span from mathematical modelling and
    reasoning to implementation of tools.</p>

  <p>The research interests of the group currently span the following
    areas: Logics for reasoning about programming languages, programming
    language design, proof assistants, type theory, denotational
    semantics, concurrency and security as well as applications of these
    topics to digital elections, business process modeling and other
    topics.</p>
</div>

<div class=explore>
  <h2 class=line><span>Explore</span></h2>

  <ul>
    <li id=ex-news><a href="/news">News</a></li>
    <li id=ex-people><a href="/people">People</a></li>
    <li id=ex-projects><a href="/projects">Projects</a></li>
    <li id=ex-talks><a href="/talks">Talks</a></li>
    <li id=ex-students><a href="/students">For Students</a></li>
    <li id=ex-directions><a href="/directions">Directions</a></li>
  </ul>

</div>

<div class=news>
  <h2 class=line><span>Latest News</span></h2>
  <div class=guide>
  {{ range first 5 .Site.Data.news }}
    {{ .text }}
  {{ end }}
  </div>
</div>
{{ end }}
