{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ .Content }}

  <h2 class=line><span>Faculty</span></h2>
  <ul class=cards>
  {{ range .Site.Data.faculty }}
    <li>
      {{ $img := $.Resources.GetMatch .photo }}
      <img src='{{ ($img.Process "resize 450x webp").Permalink }}' class="staff-photo"/><br/>
      <strong>{{ .name }}</strong><br/>
      {{ .role }}<br/>
      <a href={{ .pure }}>ITU profile</a><br/>
      <a href={{ .website }}>Website</a>
    </li>
  {{ end }}
  </ul>

  <h2 class=line><span>PhDs and Postdocs</span></h2>
  <ul class=cards>
  {{ range .Site.Data.staff }}
    <li>
      {{ $img := $.Resources.GetMatch .photo }}
      <img src='{{ ($img.Process "resize 450x webp").Permalink }}' class="staff-photo"/><br/>
      <strong>{{ .name }}</strong><br/>
      {{ .role }}<br/>
      <a href={{ .pure }}>ITU profile</a><br/>
      <a href={{ .website }}>Website</a>
    </li>
  {{ end }}
  </ul>

  <h2 class=line><span>Graduated PhDs</span></h2>
  <ul class=cards>
  {{ range .Site.Data.graduated }}
    <li>
      <strong>{{ .name }}</strong><br/>
      {{ .note }}
    </li>
  {{ end }}
  </ul>

{{ end }}
