{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ .Content }}

  <h2 class=line><span>Faculty</span></h2>
  <ul class=cards>
  {{ range .Site.Data.faculty }}
    <li>
      {{ $img := $.Resources.GetMatch .photo }}
      <img src='{{ ($img.Process "resize 450x webp").Permalink }}' class="staff-photo"/><br/>
      <strong>{{ .name }}</strong><br/>
      {{ .role }}<br/>
      {{ if .pure }}<a href={{ .pure }}>ITU profile</a><br/>{{ end }}
      {{ if .website }}<a href={{ .website }}>Website</a>{{ end }}
    </li>
  {{ end }}
  </ul>

  <h2 class=line><span>Staff</span></h2>
  <ul class=cards>
  {{ range .Site.Data.staff }}
    <li>
      {{ $img := $.Resources.GetMatch .photo }}
      <img src='{{ ($img.Process "resize 450x webp").Permalink }}' class="staff-photo"/><br/>
      <strong>{{ .name }}</strong><br/>
      {{ .role }}<br/>
      {{ if .pure }}<a href={{ .pure }}>ITU profile</a><br/>{{ end }}
      {{ if .website }}<a href={{ .website }}>Website</a>{{ end }}
    </li>
  {{ end }}
  </ul>

  <h2 class=line><span>Hall of Fame</h2>
  <ul class=cards>
  {{ range .Site.Data.halloffame }}
    <li>
      <strong>{{ .name }}</strong><br/>
      {{ .note }}<br/>
      {{ if .period }}({{ .period }}){{ end }}
    </li>
  {{ end }}
  </ul>
  

  <h2 class=line><span>Graduated PhDs</span></h2>
  <ul class=cards>
  {{ range .Site.Data.graduated }}
    <li>
      <strong>{{ .name }}</strong><br/>
      {{ .note }}
    </li>
  {{ end }}
  </ul>

{{ end }}
