{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ .Content }}

  <img src='../bookshelf.svg' width='100%'/>

  <h2 class=line><span>Ongoing</span></h2>
  <ul class=projects>
  {{ range where .Site.Data.projects ".end" "ge" now.Year }}
    <li>{{ .title }}, PI {{ .pi }}{{ if .copi }}, Co-PI {{ .copi }}{{ end }}, funded by {{ .funded_by }}, {{ .start }} - {{ .end }}</li>
  {{ end }}
  </ul>

  <h2 class=line><span>Past projects</span></h2>
  <ul class=projects>
  {{ range .Site.Data.projects }}
    {{ if not (ge .end now.Year) }}
    <li><span>{{ .title }}{{ if .pi }}, PI {{ .pi }}{{ end }}{{ if .copi }}, Co-PI {{ .copi }}{{ end }}{{ if .funded_by }}, funded by {{ .funded_by }}{{ end }}{{ if .start }}, {{ .start }}{{ end }}{{ if .end }} - {{ .end }}{{ end }}</span></li>
    {{ end }}
  {{ end }}
  </ul>

{{ end }}
