{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ .Content }}

  <img src='../building.svg' width='100%'/>
  {{ range .Site.Data.talks }}
  <h2 class=line><span>{{ .section }}</span></h2>
  {{ .note }}
  <table class=talks>
  {{ range .talks }}{{ $speaker := .speaker }}{{ $title := .title }}
    <tr>
      <td><strong>{{ .speaker }}</strong>{{ if (and $speaker $title) }}: {{ end }}{{ .title }}</td>
      <td>{{ .date | time.Format "Jan 2" }}</td>
    </tr>
  {{ end }}
  </table>
  {{ end }}

  {{ end }}
